mixin button(text, href)
    mj-button(href=href height="44px" padding="0" font-size="16px" font-weight="500" line-height="24px" align="left" border-radius="8px" background-color="#E30611" color="#FFFFFF")= text